<!-- template for the dkw_header -->
<md-toolbar class="dkw-header md-primary">
   <div class="md-toolbar-tools" layout="row">
      <image 
				 id="header-logo" 
				 src="images/dkw-logo-mobile.png" 
				 layout="column"/>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Search">
			<i class="fa fa-search fa-2x header-icon" aria-hidden="true"></i>
      </md-button>
      <md-button class="md-icon-button" aria-label="Menu">
         <i class="fa fa-bars fa-2x header-icon" aria-hidden="true"></i>   
		</md-button>
   </div>
</md-toolbar>