@medium-screen: ~"only screen and (min-width: 801px) and (max-width: 1024px)";
@tablet-screen: ~"only screen and (min-width: 641px) and (max-width: 800px)";
@mobile-screen: ~"only screen and (max-width: 640px)";

/*Font*/
@font-size: 16px;

/*Theme Color*/
@theme-color: rgba(17,61,113,1);
@theme-fade-color: rgba(17,61,113,0.5);

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: @font-size;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
   margin-bottom: -300px;
   background-color: white;
   &::after {
      content: "";
      display: block;
   }
   dkw-header {
     md-nav-bar {
       .md-nav-bar {
         height: 3px !important;
       }
     }
   }
   .mainBody {
     background-color: rgba(255,255,255,1);
     padding-top:100px;
   }
}

*:focus { outline: none;}
