@medium-screen: ~"only screen and (min-width: 801px) and (max-width: 1024px)";
@tablet-screen: ~"only screen and (min-width: 641px) and (max-width: 800px)";
@mobile-screen: ~"only screen and (max-width: 640px)";

/*Font*/
@font-size: 16px;

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: @font-size;
}

.dkw-header {
	padding: 25px;
	i {
		color: white;
	}
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
   margin-bottom: -200px;
   background-color: white;
}

.page-wrap:after {
   content: "";
   display: block;
}

.dkw-footer, .page-wrap:after {
   height: 200px;
}

.dkw-footer {
  background-color: lightgray;
}

#searchInput {
	padding-top: 30px;
	display:none;
	font-size: 150%;
}

.closeSearchBtn {
	top: 0px;
	color: rgba(0,0,0,0.38);
	&:focus {
      outline: none;
    }
	&:hover {
		color: #113d71;
	}
}

*:focus { outline: none;}
